body{
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
  text-align: center;
}

h1{
  font-family:  "Josefin Sans",sans-serif;
  font-size: 40px; 
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 8px gold;
  text-decoration: underline 3px rgb(115, 115, 114);
}

.color-skyblue{
  color: skyblue;
}

.color-pink{
  color: rgb(255, 192, 203);
}
#parent{
  font-weight: bold;
}