html {
  font-size: 20px;
}

body{
  font-family: "Arial","Meiryo",sans-serif;
  text-align: center;
}

h1{
  font-family:  "Josefin Sans",sans-serif;
  font-size: 2em; 
  letter-spacing: 1.2em;
   border-bottom: solid 3px rgb(115, 115, 114);
   text-shadow: 2px 4px 8px gold;
 
}

.color-skyblue{
  color: skyblue;
}

.color-pink{
  color: rgb(255, 192, 203);
}
#parent {
  font-weight: bold;
}